*::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background: url("../img/BG.jpg") center center no-repeat;
    height: 100vh;
    background-size: cover;
}
.wrapper{
    width: 750px;
    margin: 0 auto;
}
.logo{
    display: block;
}
.logo img {
    display: block;
}
.menu{
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.menu__list{
    display: flex;
    list-style: none ;
}
.menu__item{
    padding-bottom: 2px;
}
.menu__item:not(:last-child) {
    margin-right: 36px;
}
.menu_item--activ{
    border-bottom: 1px solid #fff;

}
.menu__link{
    color: white;
    text-decoration: none;
}
.burger{
    background: none;
    cursor: pointer;
    border: 0;
    
}
.burger img{
    display: block;
}
.header {
    display: flex;
    align-items: center;
    padding: 34px 0;
}
.header_menu {
    margin-right: 54px;
    margin-left: auto;
}
.product-card {
    display: flex;
    position: relative;
}
.product-card::before,.product-card::after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    opacity: 0.5;
    z-index: -1; 
}
.product-card::before {
    top: 10px;
    bottom: 10px;
    left: -15px;
    right: -15px;
}
.product-card::after {
    top: 20px;
    bottom: 20px;
    left: -30px;
    right: -30px;
}
.product-card__image{
    flex-grow: 1;
}
.product-image{
    min-height: 428px;
    background: url("../img/ProductPhoto.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 24px;
    position: relative;
}
.product-image__thumbneils{
    list-style: none;
    display: flex;
    justify-content: center;

}
 .product-image__thumbneil:not(:last-child) {
    margin-right: 16px;
}
.product-image__thumbneil img {
    display: block;
}
.product-image__zoom{
    border: none;
    background: none;
    position: absolute;
    right: 25px;    
    bottom: 72px;
}
.product-image__zoom img {
    display: block;
}
.product-info {
    background: #fff;
    width: 248px;
    font-family: "Roboto", sans-serif;
    padding: 42px 30px;
    
}
.product-info__label{
    margin-bottom: 16px;
}
.product-info__add-to-card {
    margin-bottom: 4px;
}

.label {
    color: #FFFFFF;
    background: #FFA60D;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    padding: 4px 5px 3px;
}
.product-info_title {
    font-family:"Roboto Condensed",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 12px; 
}
.product-info_title span {
    color:#5e4fff;
}
.product-info_subtitle {
    font-family:"Roboto Condensed",sans-serif;
    font-size: 12px;  
}
.rating {
    list-style: none;
    display: flex;
}
.rating_star:not(:last-child) {
    margin-right: 4px;
}
.product-info_praice {
    font-weight: 300;
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.horizontal-spacing {
    display: flex;
    align-items: center;
}
.horizontal-spacing > *:not(:last-child) {
    margin-right: 16px;
}
.product-info__size{
    margin-bottom: 36px;
}
.size-select__title {
    font-size: 12px;
}
.size-select__list {
    list-style: none;
    display: flex;
}
.size-select__item{
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.size-select__item:not(:last-child){
    margin-right: 17px;
}
.size-select__selected , .size-select__item:hover {
    border-color: #000;
}

.button{
    background: none;
    border: 1px solid #0F0F0F;
    font-family:"Roboto Condensed",sans-serif;
    font-size: 12px;
    color: black;
    padding: 8px 26px;
    min-width: 118px;
    cursor: pointer;
}
.button--praimary{
    background: #A200B8;
    border-color:#A200B8;
    color: white;
}
.product-card__close{
    position: absolute;
    top: 10px;  
    right: 11px;
    background: none;
    border: none;
    cursor: pointer;
}
